.nav>li {
    display: inline-block;
}

input[type=text] {
    display: block;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: 8px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.searchImage {
    /* background: url('../../assets/search.png'); */
    height: 27px;
    margin-right: 11px;
    cursor: pointer;
    display: block;
}

.logoutImage {
    height: 27px;
    cursor: pointer;
}

.logoutImage:hover {
    transform: scale(1.1);
}

.nav-link {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-style: normal;   
    color: #111111;
    cursor: pointer;
}

.nav-link.active {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #d52008;
}