.screenHeightProf {
    min-height: 640px;
    max-height: 640px;
}

.registrationImg {
    margin-top: 12%;
    height: 350px;
    width: 350px;
}

input[type="text"] {
    /* display: block; */
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: "PT Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 0.5;
    color: var(--bs-body-color);
    /* appearance: none; */
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: 8px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

input[type="file"] {
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.line_separator {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #e6e6e6;
    height: 1px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.card-body {
    background-color: #fafafa !important;
}

.eduQuali {
    background-color: #8e30e6;
    min-height: 500px;
    max-height: 500px;
    padding-top: 2%;    
}

.badge {
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 1.24);
    cursor: pointer;
}

.badge:active {
    transform: scale(1.1);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.badge:hover {
    transform: scale(1.1);
}

.upload {
    height: 27px;
    cursor: pointer;
}